(1) Describe and explain:

In [10]:
2+5 # Addition

7

In [11]:
2 + 5 # Addition with white space - more clean code than previous

7

In [12]:
2*5 # Multiplication

10

In [13]:
2/5 # Division

0.4

In [14]:
2**5 # Exponent. Note: ^ does not produce exponents. Must use **

32

The previous statements are all examples of using Python to solve basic math functions.

(2) What is the value of X?

In [9]:
x = 7
x = x + 3
print(x)

10

The value of x is 10 because the first statement makes it equal to 7, which is added by 3 in the second argument.

(3) What is the value of y after running these statements in order? Of x? Why?

In [16]:
x = 3 
y = x 
x = 10 
print(y) 
print(x)

3
10

Y is still 3 as the sequence of arguments makes y equal to the previously defined x value of 3. X is printed as 10 because we change what it is equal to after.

(4) Does this code run without error? If so, what does it produce? If not, explain why.

In [17]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

It runs without error. It shows that x's value is halved from 3 to 1.5 and z is an example of concatenating the string y.

(5) Does this code run without error? If so, what does it produce? If not, explain why.

In [18]:
x = 3 
x = x/2
y = 'abc'
z = x + y 
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This code does indeed have an error. It is not possible to add a float and string.

(6) Does this code run without error? If so, what does it produce? If not, explain why.

In [19]:
x = 3
y = 24 
z = y / x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

No error. The code shows an example of using the separate function in print to create a character that will come in between our arguments.

(7) Does this code run without error? If so, what does it produce? If not, explain why.

In [21]:
x = 3 
y = '24' 
z = y / x 
print(x, y, z, sep=' | ')

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Error identified: 24 is converted to a string and you cannot divide a string by a float

(8) Does this code run without error? If so, what does it produce? If not, explain why.

In [23]:
x = "I am a #string" # Whoa, a string!
print(x)

I am a #string

No error. Shows how to produce a string and use the # to comment

(9) Does this code run without error? If so, what does it produce? If not, explain why.

In [24]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

No error. Shows how to use lists and add those lists together to produce a new list combined with each other.

(10) Does this code run without error? If so, what does it produce? If not, explain why.

In [26]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

Error identified: one can only concatenate lists to lists, not integers

(11) What "types" are:

In [27]:
x1 = 12

Integer

In [28]:
x2 = 12.0

Float

In [29]:
x3 = '12.0'

String

In [31]:
x4 = [12]

List

In [34]:
x5 = [12, 12.0, '12.0']

List

(12) Explain the result of each line:

In [36]:
type(42)

int

Type function shows this is an integer.

In [37]:
type(42.0)

float

Type function shows this is a float.

In [38]:
type('42.0')

str

Type function shows this is a string.

In [39]:
type("42.0")

str

Type function shows this is a string with quotes.

In [40]:
type("""42.0""")

str

Type function shows this is a string with triple quotes.

In [41]:
type([1,2])

list

Type function shows this is a list.

In [42]:
type([1] + [2])

list

Type function shows this is also a list.

In [43]:
type(1 + 2)

int

Type function shows this is will result in one integer.

In [44]:
type(print)

builtin_function_or_method

Type function shows this is a builtin function in Python.

(13) Describe and explain the result of this statement:

In [45]:
type(float(str(int('1234'))))

float

Because the function ultimately changes to a float, as it is the outermost function, type() shows us that this is a float.

(14) Describe and explain the result of this statement:

In [47]:
type(int(float('12.34')))

int

Int() is the outermost function so type() shows int

(15) Explain each line:

In [49]:
len([1234])

1

Len() returns the length of a specified object. There is one list here.

In [50]:
len("1234")

4

There are 4 strings here.

In [52]:
len(1234)

TypeError: object of type 'int' has no len()

Integers have no length, hence this returns an error.

(16) What are the type and length of x = []?

In [57]:
x = []
type(x)

list

In [58]:
x = []
len(x)

0

X's type is a list, and it has length 0.

(17) Convert the string x = 'abcde' to a list. What does it look like?

In [63]:
x = 'abcde'
list(str(x))

['a', 'b', 'c', 'd', 'e']

Every item in the string is now separated in the list.

(18) Consider the integer x = 1234.

In [65]:
x = 1234

In [66]:
float(x)

1234.0

In [67]:
str(x)

'1234'

In [69]:
list(str(x))

['1', '2', '3', '4']

Must make the integer a string before making it into a list. Cannot convert integers directly into lists.

(19) Challenging: How would you convert x to "title case" (first letter of each word capitalized)?

In [71]:
x = "luke, i am your father" 
x.title()

'Luke, I Am Your Father'

Google fu coming in handy there.

(20) Challenging. Consider the string 

x = "How many charcters and words are in this string?"

In [74]:
x = "How many charcters and words are in this string?"
len(x)

48

48 characters according to len()

In [75]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [76]:
x.split(" ")

['How', 'many', 'charcters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [77]:
len(x.split(" "))

9

Google fu for the win!

(21) Approximately how long did this assignment take you?

Approximately 1 hour.